---
const { name, image, favorite_emoji, github_permalink, github_profile, codepen_profile, bio } = Astro.props;
---
<!-- <button onclick="window.location.href = '/'">Back to Home</button> -->


<img src={image} alt={name} />
<h1 id="stu-name"><span>{favorite_emoji}</span> {name}</h1>
<nav>
  <a class="links" href={github_permalink} target="_blank" rel="noopener">Portfolio</a>
  <a class="links" href={github_profile} target="_blank" rel="noopener">GitHub</a>
  <a class="links" href={codepen_profile} target="_blank" rel="noopener">CodePen</a>
</nav>
<figcaption class="bio"> {bio} </figcaption>
<a class="back-link" href="/">Back to Home</a>
<style>
  .links{
    background: #b7132e;
    font-size: x-small;
    font-family: 'Plein', sans-serif;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: white;
    border-bottom: 1px solid currentColor;
  }

  .links:hover {
    background: #333333;
    color: white;
  }
  .back-link {
  background:#b7132e;
    padding: 0.5rem 1rem;
    font-family: 'Plein', sans-serif;
    font-size: x-small;
    text-decoration: none;
    color: white;
    border-bottom: 1px solid currentColor;
  }

  .back-link:hover {
    background: #333333;
    color: white;
  }

  #stu-name {
    font-family: 'Plein', sans-serif;
    font-weight: Medium;
    display: flex;
    padding:10px 0;
    align-items: center;
    gap: 0.5rem;
  }
.bio{
  font-family: 'Plein', sans-serif;
  font-weight: 400;
  padding: 30px 0 100px 0;;
}
  </style>